<div class="contentheader mt-2 ml-4 mr-4">
    <h3 class="text-center"><i class="fa fa-users" aria-hidden="true" style="margin-right: 5px;"></i> Supplier</h3>
</div>
<!-- <ul class="breadcrumb ml-4 mr-4">
    <li><a href="#">Dashboard </a></li> /
    <li class="active"> suppliers</li>
</ul> -->

<div style="margin-top: -19px; margin-bottom: 21px; margin-left: 20px;">
    <!-- <a routerLink="../" href="#"><button class="btn btn-secondary btn-large" style="float: left;"><i
                class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</button></a> -->



    <div style="text-align:center;">
        Total Number of Suppliers: <font color="green" style="font:bold 22px 'Aleo';"> 5</font>
    </div>

   
</div>
<!-- table value start --><div class="card" style="margin-top: 4.5rem!important;">
   
    <table class="table table-bordered table-striped table-responsive mt-2 ml-3 bg-white">
        <thead class="text-center">
            <tr>
                <th scope="col">Supplier Name</th>
                <th scope="col">Supplier Code</th>
                <th scope="col">Address</th>
                
                <th scope="col">Contact No.</th>
                <th scope="col">Product Detatils</th>
                
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of supplierInfo">
            <td>{{item.supplierName}}</td>
            <td>{{item.supplierId}}</td>
            <td>{{item.address}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.productDetails}}</td>
            
            <td style="cursor: pointer;">
                <button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-danger" style="margin-left: 5px;"><i class="fa-solid fa-trash" ></i></button>
            </td>
            <!-- <td> {{item.paymentType}} </td>
            <td>
                <a >Generate Payslip</a>
            </td> -->
        </tr>
    
        </tbody>
    </table>
    </div>
