<div class="contentheader mt-2 ml-4 mr-4">
    <h3 class="text-center"><i
        class="fas fa-tachometer-alt nav-icon" style="margin-right: 5px;"></i> Dashboard</h3>
  </div>
  <br>
<font style="font-family: 'AbandoN'; font-size: 250%; font-weight: bolder; color: rgb(0, 0, 0); margin-left: 35%;">F O O D_W O R L D</font>

<div id="mainmain">

    <a routerLink="sale" href="#"><i class="fa fa-shopping-cart fa-5" aria-hidden="true" style="font-size: 1em;"></i><br> Sales</a>               
    <a routerLink="product" href="#"><i class="fa fa-list-alt" aria-hidden="true" style="font-size: 1em;"></i><br> Foods</a>      
    <a routerLink="sale" href="#"><i class="fa fa-users" aria-hidden="true" style="font-size: 1em;"></i><br> Customers</a>    

    <a routerLink="supplier" href="#"><i class="fa fa-users" aria-hidden="true" style="font-size: 1em;"></i><br> Suppliers</a>     
    <a routerLink="sales-report" href="#"><i class="fa fa-bar-chart" aria-hidden="true" style="font-size: 1em;"></i><br> Sales Report</a>
    <a (click)="logout()" href="#"><font color="red"><i
        class="fa fa-power-off" aria-hidden="true" style="font-size: 1em;"></i></font><br> Logout</a> 
    <div class="clearfix"></div>
    </div>

    <!-- <font style="font-family: 'AbandoN'; font-size: 250%; text-shadow:5px 3px 5px blue; font-weight: bolder; color: yellow; margin-left: 35%;">F O O D_W O R L D</font> -->
