<div class="contentheader mt-2 ml-4 mr-4">
    <h3 class="text-center"><i class="fas fa-tachometer-alt nav-icon" style="margin-right: 5px;"></i> Dashboard</h3>
</div>
<br>
<!-- <font
    style="font-family: 'AbandoN'; font-size: 250%; text-shadow:5px 3px 5px blue; font-weight: bolder; color: yellow; margin-left: 35%;">
    F O O D_W O R L D</font> -->
    <font style="font-family: 'AbandoN'; font-size: 250%; font-weight: bolder; color: rgb(0, 0, 0); margin-left: 35%;">F O O D_W O R L D</font>
<div id="mainmain">

    <a routerLink="sale" href="#"><i class="fa fa-shopping-cart fa-" aria-hidden="true"
            style="font-size: 2em; color: rgb(0, 0, 0);"></i><br> Sales</a>
    <a routerLink="product" href="#"><i class="fa fa-list-alt" aria-hidden="true" style="font-size: 2em;"></i><br>
        Foods</a><br>

    <a routerLink="supplier" href="#"><i class="fa fa-users" aria-hidden="true" style="font-size: 2em;"></i><br>
        Suppliers</a>
    <a routerLink="sales-invoice" href="#"><i class="fa fa-bar-chart" aria-hidden="true" style="font-size: 2em;"></i><br>
        Sales Invoice</a>
    <div class="clearfix"></div>
</div>