.contentheader {
    /* background-image: -webkit-linear-gradient(top, #aaa 0%, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #aaa 0%, #f2f2f2 100%);
    background-repeat: repeat-x;
    text-decoration: uppercase; */
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.breadcrumb {
    /* padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
}
a {
    color: #080808;
    text-decoration: none;
}


#resultTable {
    width: 100%;
    border: 1px solid #999999;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 30%);
    margin-top: 13px;
}
/*  */

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}