<div class="contentheader mt-2 ml-4 mr-4">
    <h3 class="text-center"><i class="fa fa-th" aria-hidden="true" style="margin-right: 5px;"></i> Sales Invoice</h3>
  </div>
  
  <div style="margin-top: 19px; margin-bottom: 21px; margin-left: 20px; margin-right: 20px;">
    <!-- <a routerLink="../" href="#"><button class="btn btn-secondary btn-large" style="float: left;"><i class="fa fa-arrow-circle-left"
          aria-hidden="true"></i> Back</button></a> -->
  
  </div>
  
  <div class="row" style="margin-top: 7rem!important; margin-right: 50px; margin-left:100px;"></div>
  
  <button (click)="print()" style="float:right; background-color:  #51a351; margin-right: 50px;"
    class="btn btn-success text-light">Print</button>
  
  <div
    style="font-weight:bold; text-align:center; font-size:20px; margin-bottom: 15px; margin-top: 50px; margin-right: 80px;">
    Sales Invoice</div>
  
  
    <div class="row" style="margin-left: 20px; margin-right: 20px;">
      <div class="card">
        <table class="table table-bordered" id="resultTable" data-responsive="table" style="text-align: left;">
          <thead>
            <tr>
              <th class="sortable"> Invoice No</th>
              <th  class="sortable"> Date </th>
              <th  class="sortable"> Food Code </th>
              <th class="sortable"> Customer Name </th>
              <th class="sortable"> Price </th>
              <th class="sortable"> QTY </th>
        
              <th  class="sortable"> Total Amount(with vat 5%) </th>
            </tr>
          </thead>
          <tbody>
            
              <ng-container *ngFor="let item of saleInfo; let i= index">
              <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1] | date: 'MM/dd/yy'}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[6] * 1.05}}</td>
                <td>{{item[4]}}</td>
                <td>{{(item[6]* 1.05) * item[4]}}</td>
                <!--td>30.00</td-->
             </tr></ng-container>
              </tbody>
              </table>
      </div>
    </div>